AutoMobile/*.iml
AutoMobile/.gradle
AutoMobile/.idea
AutoMobile/local.properties
.idea

AutoMobile/app/build
AutoMobile/app/.gradle
AutoMobile/app/debug
AutoMobile/app/release
AutoMobile/app/src/main/res/raw/*

AutoMobile/server/build
AutoMobile/server/.gradle

AutoMobile/scrcpy/build
AutoMobile/scrcpy/.gradle

AutoMobile/helper/build
AutoMobile/helper/.gradle